body {
  background: #242424;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  align-items: center;
}
p {
  color: white;
  overflow-wrap: break-word;
  margin: 10px;
}

#game{
  display: flex;
  border-style: solid;
  border-color: gray;
  padding: 10px;
  width:50%;
  height:200vh;
  justify-content: space-around;
  margin-top: 20%;
  flex-wrap: nowrap;
  flex-direction: row;
}
#text-action{
  max-width: 500px;
  min-width: 20px;
  margin-right: 10px;
  flex-shrink: 3;
  flex-grow: 1;
}
#text{
  text-align: left;
  border-style: solid;
  border-color: gray;
}
#map-move{
  max-width: 500px;
  min-width: 20px;
  flex-shrink: 1;
  flex-grow: 1;
}
#game-container {
  width: 80%;
  max-width: 800px;
  height: 100px;
  border: 2px solid #33ff33;
  background-color: #000;
  padding: 20px;
  overflow-y: auto; /* Scrollable */
  margin-top: 20px;
}
#output {
    flex-grow: 1;
    white-space: pre-wrap; /* Preserves newlines */
    margin-bottom: 20px;
}
